* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
  width: 0;
}
.navbar-brand {
	font-size: 1.8rem;
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
	transition: 0.25s;
}
.navbar-brand span {
	color: #eab11a;
}
.navbar-brand:hover {
	color: #eab11a;
}
.nav-link {
	color: #000000;
	margin-left: 1vw;
	margin-right: 1vw;
	transition: 0.25s
}
.nav-link:hover {
	color: #eab11a;
}
.icons a {
	color: #000000;
}
.icons svg {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 1.5vw;
	transition: 0.25s;
}
.icons svg:hover {
	color: #eab11a;
}
#navigationMenu {
	margin-right: 1.7rem;
}
@media screen and (min-width: 1200px){
	#navigationMenu {
		display: none;
	}
	.dropdownToggle {
		display: none;
	}
}
@media screen and (max-width: 1200px){
	#search {
		margin-top: 10px;
	}
	#categoriesHide {
		display: none;
	}
	.carousel-inner > .carousel-item > img {
		min-height: 300px;
	}
}
.navbar-toggler #dropdownIcon {
	color: #000000;
	transition: 0.25s;
}
.navbar-toggler #dropdownIcon:hover {
	color: #eab11a;
}
.heading #dropdownIcon {
	color: #ffffff;
}
#categorisation .heading {
	color: #ffffff;
	background-color: #eab11a;
	font-size: 1.2rem;
	text-transform: uppercase;
	line-height: 3;
}
.heading .dropdownToggle {
	position: relative;
	top: 8px;
}
.heading .dropdownToggleOther {
	position: relative;
	top: 8px;
}

#categoriesIcons {
	color: #eab11a;
	font-size: 1.5rem;
}
.categoryItem {
	border: 1px solid gray;
	border-top-color: transparent;
	padding: 1rem 1rem 1rem 1rem;
}
.categoryLinks {
	font-size: 1.3rem;
	text-decoration: none;
	color: #758caa;
	transition: 0.25s;
}
.categoryLinks:hover {
	text-decoration: none;
	padding-left: 5px;
}

#search {
	height: 5vw;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	height: 3rem;
	display: inline-flex;
}
#search > input {
	border-radius: 50px;
	width: 100%;
	height: 3rem;
	border-color: #eab11a;
}
#search > button {
	margin-top: -4px;
	width: 3rem;
	background-color: #eab11a;
}
#search ion-icon {
	margin-left: -3px;
	color: #ffffff;
}
.carousel-inner > .carousel-item > img {
	width: 100%;
	max-height: 35vw;
	margin-top: 10px;
}

#latestProducts {
	background-color: #eab11a;
}
#latestProducts .heading {
	font-size: 3rem;
	color: #000000;
	padding-top: 2vw;
	margin-top: 1.5vw;
	font-weight: bold;
	color: #ffffff;
}
#latestProducts .card-img-top {
	margin-top: 10px;
}
#latestProducts .card {
	transition: 0.5s;
}
#latestProducts .card:hover{
	margin: -10px 0px -10px 0px;
}
#originalPrice {
	color: lightslategray;
	font-size: 0.8rem;
	text-decoration: line-through;
}
#discountedPrice {
	color: #eab11a;
	font-size: 1.2rem;
}
#sale {
	color: #ffffff;
	background-color: #eab11a;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 2.5px;
}
.quickChoose {
	display: none;
	transition: 0.25s;
}
.card:hover > .quickChoose {
	display: block;
	z-index: 1;
	position: absolute;
	background-color: #eab11a;
	top: 30%;
	right: 0px;
	border-radius: 5px;
}
#shortcutIcon {
	color: #ffffff;
}
#casualCards {
	margin-top: 2.5vw;
}
#casualCards .card-body {
	margin-top: 15px;
}
#casualCards .casualCard1 {
	background-image: url(Products/Cards/card1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 10px 0px 10px 0px;
	height: auto;
	min-height: 20rem;
	color: #ffffff;
	padding-top: 2rem;
}
#casualCards .casualCard2 {
	background-image: url(Products/Cards/card7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 10px 0px 10px 0px;
	height: auto;
	min-height: 20rem;
	color: #ffffff;
	padding-top: 2rem;
}
#casualCards button {
	background-color: #eab11a;
}
#dealOfTheDay {
	margin-top: 2vw;
}
#dealOfTheDay .heading{
	font-size: 2rem;
	color: #000000;
	margin-top: 1.5vw;
	font-weight: bold;
	color: #000000;
}
#dealOfTheDay .carousel-item > img {
	width: 100%;
	height: auto;
}
#dealOfTheDay:hover .quickChoose {
	display: block;
	z-index: 1;
	position: absolute;
	background-color: #eab11a;
	top: 30%;
	right: 0px;
	border-radius: 5px;
}
#latestProducts2 .heading {
	font-size: 2rem;
	color: #000000;
	margin-top: 3.5vw;
	margin-bottom: 9px;
	font-weight: bold;
	color: #000000;
	justify-content: space-between;
	text-decoration: none;
}
#latestProducts2 .card-img-top {
	margin-top: 10px;
}
#latestProducts2 .card {
	transition: 0.5s;
}
#latestProducts2 .card:hover{
	margin: -10px 0px -10px 0px;
}
#casualCards .casualCard3 {
	background-image: url(Products/Cards/card6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 5px 0px 5px 0px;
	height: auto;
	min-height: 15rem;
	color: #000000;
	padding-top: 2rem;
}
#casualCards .casualCard4 {
	background-image: url(Products/Cards/card4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 5px 0px 5px 0px;
	height: auto;
	min-height: 15rem;
	color: #ffffff;
	padding-top: 2rem;
}
#casualCards .casualCard5 {
	background-image: url(Products/Cards/card3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 5px 0px 5px 0px;
	height: auto;
	min-height: 15rem;
	color: #000000;
	padding-top: 2rem;
}
h6 {
	font-style: italic;
	color: #eab11a;
	font-size: 0.9rem;
}
#multipleCarousel .card {
	transition: 0.5s;
}
#multipleCarousel .card:hover{
	margin: -10px 0px -10px 0px;
}
#multipleCarousel .heading {
	font-size: 2rem;
	color: #000000;
	margin-top: 3.5vw;
	margin-bottom: 9px;
	font-weight: bold;
	color: #000000;
	justify-content: space-between;
	text-decoration: none;
}
#contact {
	margin-top: 3vw;
	color: #ffffff;
}
#contactUs {
	background-color: #3b4367;
	display: flex;
	justify-content: space-around;
	font-size: 0.8rem;
}
#contactUs > div {
	margin-top: 2vw;
	margin-bottom: 2vw;
}
#subscription {
	background-color: #eab11a;
	text-align: center;
	display: flex;
	justify-content: space-around;
}
#subscription input {
	border-radius: 50px;
	height: 2.5rem;
	width: 70%;
	border-color: #ffffff;
	margin-top: 2vw;
	margin-bottom: 2vw;
}
#subscription button {
	color: #ffffff;
	border-radius: 50px;
	border-color: #ffffff;
	margin-top: 2vw;	
	margin-bottom: 2vw;
	height: 2.5rem;
}
#subscription button:hover {
	background-color: #343a40;
}
#addressElements svg {
	display: inline-block;
}


#footer {
	margin-top: 3vw;
}
#footer .heading {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 1.5vw;
}
#footer ul {
	font-size: 0.8rem;
	text-decoration: underline;
    list-style-type: disc;
	color: #eab11a; 
	padding-left: 1em;
}
#footer li {
	padding: 0.5vw 0px 0.5vw 0px;
}
#footer a:hover {
	color: #eab11a;
}
#footer .heading {
	position: relative;
	display: inline-block;
}
#footer .heading::before {
	content: "";
	left: 0;
	bottom: 0;
	border-bottom: 2.5px solid #eab11a;
	width: 50%;
	position: absolute;
	display: inline-block;
}

#quickContact input:nth-child(2) {
	width: 80%;
	margin-bottom: 1vw;
	font-size: 0.8rem;
	border-color: lightgray;
	padding-left: 20px;
}
#quickContact input:nth-child(3) {
	height: 40%;
	width: 80%;
	margin-bottom: 1vw;	
	font-size: 0.8rem;
	border-color: lightgray;
	padding-left: 20px;
} 
#quickContact button {
	border-radius: 50px;
	color: #ffffff;
	background-color: #eab11a;
	font-size: 0.8rem;
	transition: 0.25s;
}
#quickContact button:hover {
	background-color: #343a40;
}
#addressElements {
	margin: 0px 0px 1vw 0px;
	color: dimgray;
	font-size: 0.7rem;
}
#addressIcon {
	background-color: #eab11a;
	color: #ffffff;
	border-radius: 10px;
	font-size: 1.5rem;
	margin-right: 15px;
	padding-left: 0.5vw;
	padding-bottom: 0.5vw;
	cursor: pointer;
	transition: 0.25s;
}
#addressIcon:hover {
	background-color: #343a40;
}
footer {
	margin-top: 3vw;
	font-size: 0.8rem;
	margin-bottom: 1.5vw;
	border-top: 1px solid black;
	padding-top: 1.5vw;
}






/* Contact Page */
#map {
	margin-top: 1vw;
	filter: invert(95%);
}
#getInTouch {
	margin: 0px 4vw 0px 4vw;
	position: relative;
	bottom: 20vw;
	padding-right: 0px;
	padding-left: 0px;
}
#addressDetails {
	background-color: #eab11a;
	color: #ffffff;
	padding: 2vw 2vw 2vw 2vw;
}
#details {
	background-color: #f0f5f8;
	color: #332f2f;
	padding: 4vw 4vw 4vw 4vw;
	font-size: 0.9rem;
	font-weight: 700;
}
#details .heading {
	font-weight: bolder;
}
#details input {
	width: 100%;
	height: 40px;
	font-weight: 700;
	padding-left: 20px;
}
#details #line {
	margin-top: 2vw;
}
#line .title {
	margin-top: 10px;
}
#details span {
	margin-right: 5vw;
}
#details button {
	color: #ffffff;
	background-color: #eab11a;
	border-radius: 25px;
	margin: 2vw 0px 0px 3vw;
	font-size: 0.9rem;
}
#details button:hover {
	background-color: #343a40;
}
#glyphs {
	margin: -15vw 0px 15vw 0px;
}
#glyphs .text-center {
	margin-top: 5vw;
}





/* Login Page */
#loginPage {
	background-color: #ffffff;
	color: #332f2f;
	margin: 4vw 4vw 4vw 4vw;
	padding: 4vw 4vw 4vw 4vw;
	font-size: 0.9rem;
	font-weight: 700;
	box-shadow: 1px 1px 7px lightgray;
}
#loginPage .heading {
	font-weight: bolder;
	margin-bottom: 2vw;
}
#loginPage input {
	width: 100%;
	height: 40px;
	font-weight: 700;
	padding-left: 20px;
}
#loginPage span {
	color: red;
}
#loginButton {
	margin-top: 3vw;
}
#loginPage button {
	background-color: #eab11a;
	color: #ffffff;
	border-radius: 25px;
	margin-right: 50px;
	font-size: 0.9rem;
}
#loginPage button:hover {
	background-color: #343a40;
}
#loginButton a {
	text-decoration: underline;
	color: #c5c6c8;
}
#loginButton a:hover {
	color: #007bff;
}
#login .row {
	margin-top: 2vw;
}
#register .row {
	margin-top: 2vw;
}
#register button {
	margin: 7vw 0px 0px 8vw;
}
#background {
	background-color: #f0f5f8;
	margin-bottom: -3vw;
}
@media screen and (max-width: 768px) {
	#register {
		margin-top: 10vw;
	}
	#loginPage .heading {
		margin-bottom: 5vw;
	}
	#register .radio, label {
		margin-top: 5vw;
	}
}
#register .radio {
	width: 1rem;
	height: 1rem;
}















